.homepage {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: scroll;
}

.homeImg {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/homeTop.jpg) ;
    background-size: 100rem;
    opacity: 0.26;
    z-index: -1;
    overflow: scroll;
}

h1 {
    padding-top: 18vh;
    color: white;
    font-size: 4rem;
    line-height: 5rem;
}

.homeP {
    padding-top: -1vh;
    color: white;
    font-size: 1rem;
}

.homeBtn {
    z-index: 10000;
    margin: 0 auto;
    display: block;
    margin-top: 5vh;
}